<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.andipaetzold.dodgeit">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName=".activities.MenuActivity" />
        <activity
            android:name=".activities.LeaderboardActivity"
            android:screenOrientation="portrait"
            android:label="@string/leaderboard_title"
            android:parentActivityName=".activities.MenuActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/settings_title"
            android:parentActivityName=".activities.MenuActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/about_title"
            android:parentActivityName=".activities.MenuActivity" />
    </application>

</manifest>
